/* Universal Styles */

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    background: linear-gradient(180deg,#000000, #465461);
    font-size: 16px;
    font-family: 'Old Standard TT', serif;
    color: #ECF3F4;
}

/* Set Grid */
.container {
    display: grid;
    grid-template-rows: 60px 400px 200px 150px 500px 500px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "nav nav nav nav"
        "header header header header"
        "times times times times"
        "weather weather weather weather"
        "spotify bfm football binance"
        "gmail facebook instagram twitter"
}

nav {
    grid-area: nav;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.circle0, .circle1, .circle2 {
    display: inline-block;
    margin: auto;
    border-radius: 50%;
    animation-name: bounceIn;
    animation-duration: 1.8s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
    animation-direction: alternate; /* Keeps loop smooth */
}

.circle0, .circle2 {
    height: 2vh;
    width: 2vh;
}


.circle0 {
    background-color: hsl(0, 0%, 83%);
    animation-timing-function: ease-in;
}

.circle1 {
    background-color: #22597F;
    animation-timing-function: linear;
    height: 2.7vh;
    width: 2.7vh;
}

.circle2 {
    background-color: hsl(26, 94%, 65%);
    animation-timing-function: ease-out;
}

nav:hover, nav:active {
    animation-name: slideOut;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
}

/* Header with JS Integration */
header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
}

h1 {
    font-size: 5rem;
    margin: 4vh;
    font-style: italic;
}

#date {
    font-size: 2rem;
    margin: 4vh;
}

hr { /* Place lines above & below date */
    width: 100%;
}

/* Custom times zones */
.times {
    grid-area: times;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vh;
    flex-wrap: wrap;
}

.time-zones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5vh;
    padding-right: 5vh;
}

.time-zones p {
   font-family: 'Francois One', sans-serif;
   font-size: 1.1rem;
   text-transform: uppercase;
   padding-top: 1vh;
   color: hsl(26, 94%, 65%);
   opacity: .8;
}

/* Weather for Dubai */

.weather {
    grid-area: weather;
}

.weatherwidget-io {
    border-bottom: solid 1px hsl(117, 14%, 98%);
}

/* Podcast Containers */
.spotify {
    grid-area: spotify;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.bfm {
    grid-area: bfm;
}

.football {
    grid-area: football;
}

.binance {
    grid-area: binance;
}

/* Remaining Media Containers */
.facebook {
    grid-area: facebook;
}

.gmail {
    grid-area: gmail;
}

.twitter {
    grid-area: twitter;
}

.instagram {
    grid-area: instagram;
}

/* Media Icons */
img {
    width: 60%;
    margin: 3vh;
    border-radius: 1vh 1vh 1vh;
}

img:hover, img:active {
    opacity: .4;
    animation-name: scale;
    animation-duration: 60s;
}

a { 
    display: flex; /* Center all media icons */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden; 
}

.spotify, .bfm, .football, .binance, .facebook, .gmail, .twitter, .instagram {
    display: flex; /* Center media containers */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

figcaption {
    font-size: 2rem;
    margin-bottom: 5vh;
}

@keyframes bounceIn {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      }
    
      0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
      }
    
      60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
      }
    
      75% {
        transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
      }
    
    
      100% {
        transform: none;
        transform: none;
      }
    }

@keyframes scale {
    0% {
        transform: scale(1.0);
    }

    2% {
        transform: scale(1.13);
    }

    100% {
        transform: scale(1.13);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0%);
      }
    
    100% {
        transform: translateX(100%);
    }
}

/* OPTIMIZE FOR SMALL COMPUTER SCREENS */
@media only screen and (min-width: 1000px) and (max-width: 1700px) {

    /* Make grid smaller */
    .container {
        display: grid;
        grid-template-rows: 60px 400px 200px 150px 400px 400px;
    }
}

/* OPTIMIZE FOR TABLETS & SMALL COMPUTER SCREENS */
@media only screen and (min-width: 783px) and (max-width: 999px) {

    /* Make header and icon captions smaller */
    h1 {
        font-size: 4rem;
        margin: 4vh;
        font-style: italic;
    }

    figcaption {
        font-size: 2rem;
    }

    /* Add extra rows for icons */
    .container {
        display: grid;
        grid-template-rows: 60px 400px 200px 150px 400px 400px 400px 400px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "nav nav"
            "header header"
            "times times"
            "weather weather"
            "spotify bfm" 
            "football binance"
            "gmail facebook"
            "instagram twitter"
    }
}

/* OPTIMIZE FOR LARGER MOBILE */

@media only screen and (min-width: 381px) and (max-width: 782px) {

    /* Make header and icon captions smaller */
    h1 {
        font-size: 3rem;
        margin: 4vh;
        font-style: italic;
    }

    #date {
        font-size: 1.5rem;
    }

    figcaption {
        font-size: 1.3rem;
    }

    /* Add extra rows for icons */
    .container {
        display: grid;
        grid-template-rows: 60px 400px 400px 250px 300px 300px 300px 300px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "nav nav"
            "header header"
            "times times"
            "weather weather"
            "spotify bfm" 
            "football binance"
            "gmail facebook"
            "instagram twitter"
        }

        /* Custom times zones */
        .time-zones {
            padding-bottom: 2vh;
        }

        /* Make header circles smaller */
        .circle0, .circle2 {
            height: 1.5vh;
            width: 1.5vh;
        }
        
        .circle1 {
            height: 2.2vh;
            width: 2.2vh;
        }
    
    #date {
        margin: 4vh;
}
}

/* OPTIMIZE FOR SMALL */

@media only screen and (max-width: 380px) {

    /* Make header and icon captions smaller */
    h1 {
        font-size: 3rem;
        margin: 4vh;
        font-style: italic;
    }

    #date {
        font-size: 1.5rem;
    }

    figcaption {
        font-size: 1.3rem;
    }

    /* Add extra rows for icons */
    .container {
        display: grid;
        grid-template-rows: 60px 400px 750px 250px 250px 250px 250px 250px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "nav nav"
            "header header"
            "times times"
            "weather weather"
            "spotify bfm" 
            "football binance"
            "gmail facebook"
            "instagram twitter"
        }

        /* Custom times zones */
        .time-zones {
            padding-bottom: 2vh;
        }

        /* Make header circles smaller */
        .circle0, .circle2 {
            height: 1.5vh;
            width: 1.5vh;
        }
        
        .circle1 {
            height: 2.2vh;
            width: 2.2vh;
        }
    
    #date {
        margin: 4vh;
}
}